<div id="meta-info">
<% if @site.locked %>


      <% if session[@site.name.to_sym] == "session-unlocked" && @site.locked %>
      <p>
       <%= button_to "Remove password", d_site_pass_path(@site.name), data: { confirm: "Are you sure? Anyone will be able to add posts." }, class: "button remove", method: :patch %>
       </p>

     <% end %>

  <% else %>

<% end %>


<% if !@site.locked && @feed.present? %>
  <%= form_for @site, url: site_pass_path(@site.name), :html => {:class => ''}, method: :patch do |f| %>
  <div class="field has-addons">
    <div class="control">
    <%= f.password_field :password, class: "input" %>
    </div>
    <div class="control">
    <%= f.submit "Add password", class: "button" %>
    </div>
  </div>
  <% end %>
<% end %>

<%= render 'login' if @site.locked && session[@site.name.to_sym] != "session-unlocked" %>


</div>
