<% provide(:title, @site.name) %>
<section id="meta">
  <header>
    <span class="has-text-grey-light">/</span>
    <strong class=""><%= @site.name %></strong>
  </header>
  <%= render 'posts/new_post' if !@site.locked || (@site.locked && session[@site.name.to_sym] == "session-unlocked") %>
  <%= render 'meta_info' %>

</section>

<section id="content" >
  <%= render 'shared/error_messages' %>
  <% if notice %>
      <p class="notification is-warning"><button class="delete"></button><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="notification is-danger"><button class="delete"></button><%= alert %></p>
  <% end %>

  <%= render 'posts/feed' %>

</section>
