<p>This is a show page!</p>

<h1>This is your SLUG: <%= @slug %></h1>

<%= render 'shared/error_messages' %>

<hr>

<p><%= @site.body %></p>




<% if false %>
<%= form_for @site, url: site_pass_path(@site.name), method: :patch do |f| %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Add password" %>

<% end %>

<% end %>
