

<%= render 'shared/error_messages' %>

<%= render 'is_locked' %>

<%= render 'posts/feed' %>


<%= render 'posts/new_post' if !@site.locked || (@site.locked && session[@site.name.to_sym] == "unlocked") %>

<hr>

<%= render 'set_password' if !@site.locked %>

<%= render 'login' if @site.locked && session[@site.name.to_sym] != "unlocked" %>


<% if false %>
<% end %>
<hr>
<p>If no messages, cannot save password.</p>
<p>Messages only live for 7 days</p>
