

<%= render 'shared/error_messages' %>

<%= render 'is_locked' %>

<%= render 'posts/feed' %>


<%= render 'posts/new_post' if !@site.locked || (@site.locked && session[@site.name.to_sym] == "session-unlocked") %>

<hr>

<%= render 'set_password' if !@site.locked %>

<%= render 'login' if @site.locked && session[@site.name.to_sym] != "session-unlocked" %>


<% if false %>
<% end %>
<hr>
<p>If no messages, cannot save password.</p>
<p>Sites deleted after 30 days of inactivity.</p>
<% if @feed.present? %>
  <p><%= @days_til_expire.to_i %> days until expiration</p>
<% end %>
