<header class="level">
  <strong class="level-left"><%= @site.name %></strong>
  <%= render 'posts/new_post' if !@site.locked || (@site.locked && session[@site.name.to_sym] == "session-unlocked") %>
</header>

<%= render 'shared/error_messages' %>

<section id="content">
  <% if notice %>
      <p class="notification is-primary"><button class="delete"></button><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="notification is-danger"><button class="delete"></button><%= alert %></p>
  <% end %>

  <%= render 'posts/feed' %>
</section>




<%= render 'login' if @site.locked && session[@site.name.to_sym] != "session-unlocked" %>

<%= render 'footer_info' %>
