<!DOCTYPE html>
<html>
  <head>
    <title>Mini</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <hr>
    <footer>adverse posession on the web / privatepublic.com</footer>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
